// Body
$body-bg: #ffffff;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$btn-primary: #008B8B;

$link-color: #76B900;

$btn-color: #008B8B;

$grey:#EEEEEE;

$medium:#d0d0d0;